<div ng-controller="ContactCtrl" ng-init="find()">
    <div class="bar">
        <!-- Create a binding between the searchString model and the text field -->
        <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <th style="text-align:center">First name</th>
            <th style="text-align:center">Last name</th>
            <th style="text-align:center">Email</th>
            <th style="text-align:center">Phone</th>
            <th style="text-align:center" class='icons'>Update</th>

        </thead>
        <tr ng-repeat="contact in contacts | filter: searchString" ng-class-even="'even'">
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td>
                <button type="button" class='btn' ng-click="edit(contact)"><i class="glyphicon glyphicon-pencil"></i>
                </button>
                <button type="button" class='btn' ng-click="remove(contact)"><i class="glyphicon glyphicon-minus"></i>
                </button>
            </td>
        </tr>
    </table>
    <button type="button" class='btn' ng-click="create()">Create</button>
</div>